.create-post-section {
  padding: 1rem;
  background-color: var(--primary-bg);
  height: 100vh;
  overflow: hidden;
}

.create-post-form {
  padding: 2rem;
  background-color: var(--form-bg);
  max-width: 600px;
  margin: 30px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-post-form-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-light);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.create-post-form-label {
  color: var(--form-label-color);
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.image-input {
  color: var(--text-light);
}

.create-post-form-input {
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid var(--form-border);
  border-radius: 8px;
}

.create-post-form-error {
  color: var(--error-text);
  margin: 5px 0px 0px;
  font-size: 0.9rem;
}

.btn-wrapper {
  margin: 10px 0px auto;
}

.create-post-form-btn {
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--button-blue);
  color: var(--text-light);
}

.create-post-form-btn:hover {
  background-color: var(--button-blue-hover);
}