.created-post-section {
  background-color: var(--primary-bg);
}

.no-post-created {
  padding: 30px;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: var(--error-text);
  font-weight: 600;
}
